body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(65,184,131,1) 0%, rgba(0,112,255,1) 100%);
}

.container{
    padding: 30px 30px;
    width: 50%;
    max-width: 500px;
    border: 2px solid rgb(197, 194, 188);

}

h1{
    text-align: center;
    font-size: 2.5rem;
}

#resultado{
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    max-width: 350px;
    background-color: rgb(236, 236, 172);
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
}

#resultado p{
    font-size: 1rem;
    font-weight: bold;
}

#label{
    font-weight: bold;
}

#cep{
    padding: 5px;
    font-size: 16px;
    padding-left: 20px;
}

#btn{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(18, 199, 18);
    transform: scale(0.9);
    transition: all 0.5s;
}


@media (max-width:800px) {
    .container{
        width: 80%;
    }

    h1{
        font-size: 1.2rem;
        text-align: left;
    }
    #label {
        margin-left: 0;
    }
    #resultado p{
        font-size: 100%;
    }
    #cep{
        width: 80px;
    }
}